body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image:url(images/Body\ Background.webp) ;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Ensure the content is centered vertically on the viewport */
}

.contact-info {
    max-width: 600px;
    padding: 20px;
    background-color: violet;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center the text within the container */
}

h1 {
    color: #333;
}

h2 {
    color: #555;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}
